apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
  namespace: ai-platform
  labels:
    app: api-server
    layer: L4-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-server
  template:
    metadata:
      labels:
        app: api-server
    spec:
      containers:
        - name: api
          image: ai-worker:v1
          imagePullPolicy: Never
          command: ["python", "-m", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
          ports:
            - containerPort: 8000
          env:
            - name: RABBITMQ_HOST
              value: "rabbitmq-service"
            - name: RABBITMQ_QUEUE
              value: "embedding_queue"
            - name: CHROMA_HOST
              value: "chromadb"
            - name: CHROMA_PORT
              value: "8000"
